Babel==2.2.0
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.11
Pygments==2.1.3
Sphinx==1.4b1
Wand==0.4.2
alabaster==0.7.7
argh==0.26.1
boto==2.39.0
click==6.3
docutils==0.12
future==0.15.2
giza==0.5.7a0
hieroglyph==0.7.1
imagesize==0.7.0
jira==1.0.3
libgiza==0.2.14
oauthlib==1.0.3
onetimepass==1.0.1
polib==1.0.7
pytz==2015.7
requests==2.9.1
requests-oauthlib==0.6.1
requests-toolbelt==0.6.0
rstcloth==0.2.6
six==1.10.0
snowballstemmer==1.2.1
sphinx-intl==0.9.9
sphinxcontrib-httpdomain==1.4.0
tlslite==0.4.9
